<%- layout('layouts/index') %>
    <!-- Extends the main layout -->

    <style>
        .quantity-btn {
            width: 35px;
            height: 35px;
            font-size: 16px;
            line-height: 1;
        }

        .quantity-input {
            width: 60px;
            text-align: center;
        }

        .order-summary {
            font-size: 14px;
        }


        .quantity-area .qty-btn {
            width: 30px;
            height: 30px;
            border: none;
        }

        .quantity-input {
            text-align: center;
            font-size: 16px;
            border: none;
        }

        .btn__txt {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            border: none;
            border-radius: 35px;
            transition: 0.3s ease;
            margin-bottom: 20px;
            padding: 16px 50px;
        }

        .btn__txt:hover {
            background: #000000;
            color: #fff;
        }

        input::placeholder {
            color: #acacac !important;
            /* Đảm bảo có màu đúng */
            opacity: 1;
        }
    </style>
    <section style="padding-top: 82px;">
        <div class="container my-5">
            <div class="row">
                <!-- Thông tin đặt hàng -->
                <div class="col-lg-7">
                    <h4 class="mb-3 fw-bold letter-spacing fs-3">Thông tin đặt hàng</h4>
                    <form id="order-form">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label letter-spacing fw-medium">Họ và tên</label>
                                <input type="text" class="form-control rounded-pill fw-medium letter-spacing py-2 px-3"
                                    style="font-size: 14px;" placeholder="Nhập họ tên của bạn" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label letter-spacing fw-medium">Số điện thoại</label>
                                <input type="text" class="form-control rounded-pill fw-medium letter-spacing py-2 px-3"
                                    style="font-size: 14px;" placeholder="Nhập số điện thoại của bạn" id="phoneNumber"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label letter-spacing fw-medium">Email</label>
                            <input type="email" class="form-control rounded-pill fw-medium letter-spacing py-2 px-3"
                                style="font-size: 14px;" placeholder="Theo dõi đơn hàng sẽ được gửi qua Email và ZNS"
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label letter-spacing fw-medium">Địa chỉ</label>
                            <input type="text" class="form-control mb-2 rounded-pill fw-medium letter-spacing py-2 px-3"
                                style="font-size: 14px;" placeholder="Địa chỉ (ví dụ: 103 Vạn Phúc)"
                                id="address" required>
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-select rounded-pill fw-medium letter-spacing py-2 px-3" id="citySelect">
                                        <option value="" selected disabled>Chọn Tỉnh/Thành phố</option>
                                        </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select rounded-pill fw-medium letter-spacing py-2 px-3" id="districtSelect">
                                          <option value="" selected disabled>Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select rounded-pill fw-medium letter-spacing py-2 px-3" id="wardSelect">
                                        <option value="" selected disabled>Chọn Phường/Xã</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h4 class="mb-3 pt-3 fw-bold letter-spacing fs-3">Hình thức thanh toán</h4>
                        <div class="payment-shipping">
                            <form>
                                <!-- Thanh toán khi nhận hàng -->
                                <div class="mb-2">
                                    <label for="payment-COD"
                                        class="payment-method-item d-flex align-items-center border rounded p-2 active">
                                        <span class="custom-radio me-2">
                                            <input type="radio" id="payment-COD" name="payment-method" value="COD"
                                                autocomplete="off">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span class="payment-method-icon-wrapper me-2">
                                            <img src="https://mcdn.coolmate.me/image/October2024/mceclip2_42.png"
                                                alt="Thanh toán khi nhận hàng" class="img-fluid"
                                                style="max-width: 40px;">
                                        </span>
                                        <strong>Thanh toán khi nhận hàng</strong>
                                    </label>
                                </div>

                                <!-- Ví MoMo -->
                                <div class="mb-2">
                                    <label for="payment-momo"
                                        class="payment-method-item d-flex align-items-center border rounded p-2">
                                        <span class="custom-radio me-2">
                                            <input type="radio" id="payment-momo" name="payment-method" value="momo"
                                                autocomplete="off">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span class="payment-method-icon-wrapper me-2">
                                            <img src="https://mcdn.coolmate.me/image/October2024/mceclip1_171.png"
                                                alt="Ví MoMo" class="img-fluid" style="max-width: 40px;">
                                        </span>
                                        <strong>Ví MoMo</strong>
                                    </label>
                                </div>

                                <!-- Thanh toán qua ZaloPay -->
                                <div class="mb-2">
                                    <label for="payment-zalopay"
                                        class="payment-method-item d-flex flex-column flex-md-row align-items-start align-items-md-center border rounded p-2">
                                        <span class="custom-radio me-2">
                                            <input type="radio" id="payment-zalopay" name="payment-method"
                                                value="zalopay" autocomplete="off">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span class="payment-method-icon-wrapper me-2">
                                            <img src="https://mcdn.coolmate.me/image/October2024/mceclip3_6.png"
                                                alt="Thanh toán qua ZaloPay" class="img-fluid" style="max-width: 40px;">
                                        </span>
                                        <div>
                                            <strong>Thanh toán qua ZaloPay</strong><br>
                                            <small class="fw-medium">Hỗ trợ mọi hình thức thanh toán <img
                                                    src="https://mcdn.coolmate.me/image/October2024/mceclip0_27.png"
                                                    alt="ZaloPay" style="height: 16px;"></small>
                                        </div>
                                    </label>
                                </div>

                                <!-- Ví điện tử VNPAY -->
                                <div class="mb-2">
                                    <label for="payment-vnpay"
                                        class="payment-method-item d-flex flex-column flex-md-row align-items-start align-items-md-center border rounded p-2">
                                        <span class="custom-radio me-2">
                                            <input type="radio" id="payment-vnpay" name="payment-method" value="vnpay"
                                                autocomplete="off">
                                            <span class="checkmark"></span>
                                        </span>
                                        <span class="payment-method-icon-wrapper me-2">
                                            <img src="https://mcdn.coolmate.me/image/October2024/mceclip0_81.png"
                                                alt="Ví điện tử VNPAY" class="img-fluid" style="max-width: 40px;">
                                        </span>
                                        <div>
                                            <strong>Ví điện tử VNPAY</strong><br>
                                            <small class="fw-medium">Quét QR để thanh toán</small>
                                        </div>
                                    </label>
                                </div>
                            </form>
                        </div>

                    </form>
                </div>

                <!-- Giỏ hàng -->
                <div class="col-lg-5">
                    <h4 class="mb-3 fw-bold letter-spacing fs-3">Giỏ hàng</h4>
                    <div class="border p-3 mb-3" style="max-height: 420px; overflow-y: scroll;"
                        id="cart-items-container">

                        <!-- Cart items will be rendered here -->
                    </div>

                    <div class="pricing-info">
                        <!-- Divider -->
                        <div class="divider border-top my-2"></div>
                        <!-- Tạm tính -->
                        <div class="d-flex justify-content-between align-items-center my-3">
                            <p class="mb-0 letter-spacing fw-medium">Tạm tính</p>
                            <p class="mb-0 text-end">
                                <span class="fw-medium" id="subtotal">0đ</span>

                            </p>
                        </div>

                        <!-- Giảm giá -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="mb-0 letter-spacing fw-medium">Giảm giá</p>
                            <p class="mb-0 text-end">
                                <span class="price_text fw-medium">0đ</span>
                            </p>
                        </div>

                        <!-- Phí giao hàng -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="mb-0 letter-spacing fw-medium">Phí giao hàng</p>
                            <p class="mb-0 text-end">
                                <span class="fw-medium">Miễn phí</span>
                            </p>
                        </div>

                        <!-- Divider -->
                        <div class="divider border-top my-2"></div>

                        <!-- Tổng -->
                        <div class="d-flex justify-content-between align-items-center pricing-info__total mt-3">
                            <p class="pricing-info__total_title mb-0 text-black fw-bold letter-spacing">Tổng</p>
                            <p class="mb-0 text-end">
                                <span class="total text-black fw-bold" id="total">0đ</span>

                            </p>
                        </div>
                    </div>
                    <div class="button text-end mt-5">
                        <button class="btn btn__txt bg-menu" id="order-button" >
                            <div class="">ĐẶT HÀNG</div>
                        </button>
                    </div>

                </div>
            </div>
        </div>


    </section>
