<%- layout('layouts/index') %> <!-- Extends the main layout -->

<section style="padding-top: 82px;">
    <div class="container-fluid px-0">
        <div class="row gx-0">
            <div class="col-12">
                
                    <div class="owl-carousel owl-theme slider-pc banner-slider">
                        
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Desktop_FW24.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Desktop_LB_update.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/October2024/1920_x_788_hero_banner2.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1920,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Desktop_AGN.jpg"></a>
                        </div>
                        
                    </div>

                    <div class="owl-carousel owl-theme slider-mobile banner-slider">
                        
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1426,height=2100,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Mobile_FW24zz.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1426,height=2100,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Mobile__LB_update.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1426,height=2100,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Mobile_Ao_am_cho_em22.jpg"></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="https://media3.coolmate.me/cdn-cgi/image/width=1426,height=2100,quality=90,format=auto/uploads/December2024/Hero_Banner_-_Mobile_AGNss.jpg"></a>
                        </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
</section>
<section class="homepage-collection" style="margin-top: 30px;">
    <div class="container">
        <div class="collection-item row">
            <div class="collection-img col-lg-3 col-md-4 col-sm-6 col-6 p-2" style="overflow: hidden;">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1069,height=1575,quality=80,format=auto/uploads/November2024/mceclip2_10.jpg" style="max-width:100%; border-radius:20px;" alt="">
            </div>
            <div class="collection-img col-lg-3 col-md-4 col-sm-6 col-6 p-2" style="overflow: hidden;">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1069,height=1575,quality=80,format=auto/uploads/November2024/mceclip1_30.jpg" style="max-width:100%; border-radius:20px;" alt="">
            </div>
            <div class="collection-img col-lg-3 col-md-4 col-sm-6 col-6 p-2" style="overflow: hidden;">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1069,height=1575,quality=80,format=auto/uploads/November2024/mceclip0_55.jpg" style="max-width:100%; border-radius:20px;" alt="">
            </div>
            <div class="collection-img col-lg-3 col-md-4 col-sm-6 col-6 p-2" style="overflow: hidden;">
                <img src="https://media3.coolmate.me/cdn-cgi/image/width=1069,height=1575,quality=80,format=auto/uploads/September2024/mceclip0_33.jpg" style="max-width:100%; border-radius:20px;" alt="">
            </div>
        </div>
        
        
    </div>
</section>


<section class="products-section pt-5 mx-5">
    <div>

        <div class="heading-product">
            <h3 class="fw-bold mb-4">SẢN PHẨM MỚI NHẤT</h3>
        </div>

        
            <div class="owl-carousel owl-theme slider" id="new_product">

            </div>
        

            



    </div>
</section>
<section class="banner-block">

</section>

<section class="products-section py-5 mx-5">
    <div >

        <div id="product-collections-container">
            <!-- Product collections will be rendered here -->
        </div>
    </div>
</section>


