<%- layout('layouts/index') %>
<style>
    .form-control{
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: none;
        background: #ededed;
        transition: all 0.3s ease;
    }
    .btn-submit{
        border: none;
        padding: 20px;
        width: 100%;
        background: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
</style>
<div class="container my-5 px-5" style="padding-top:85px; margin-bottom:40px;">
    <div class="row justify-content-center pb-5 mt-4">
        <div class="col-md-5">
            <div class="heading-title d-flex justify-content-center">
                <h2 class="text-center mb-4 fw-bold fs-4">ĐĂNG NHẬP hieu</h2>
                <h2 class="text-center mb-4 fw-bold fs-4">
                    <a href="/register" style="padding-left: 20px; margin-left: 20px;border-left: 2px solid #000;padding-right: 0;margin-right: 0;border-right: none; color: #cccccc; text-decoration:none;">ĐĂNG KÝ</a>
                </h2>
            </div>
            
            <form id="loginForm">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label fw-medium">Email</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="Email" required>
                </div>
                <div class="mb-4">
                    <label for="loginPassword" class="form-label fw-medium">Mật khẩu</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Mật khẩu" required>
                </div>
                <div id="loginError" class="text-danger mb-3" style="display: none;"></div>
                <button type="submit" class="btn-submit">ĐĂNG NHẬP</button>
                
            </form>
        </div>
    </div>
</div>  
<script>

    // Check if user is already logged in if yes redirect to home page

    async function checkUserLoginStatus() {
            try {
                const response = await fetch('/auth/user');
                const data = await response.json();
                if (response.ok) {
                    window.location.href = '/';
                }
            } catch (error) {
                console.error('Error checking user login status:', error);
            }
        }

    document.getElementById('loginForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const email = document.getElementById('loginEmail').value;
        const password = document.getElementById('loginPassword').value;
        const errorDiv = document.getElementById('loginError');

        

        try {
            const response = await fetch('/api/login', { // Added cache control
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                 },
                  
                body: JSON.stringify({ email, password })
            });

            const data = await response.json();

            if (response.ok) {
                // Handle successful login (e.g., redirect to home page)
                Swal.fire({
                    icon: 'success',
                    title: "Đăng nhập thành công !",
                    text: "Đang chuyển hướng, vui lòng chờ...",
                    timer: 1200,
                    timerProgressBar: true,
                    showConfirmButton: false,
                }).then(() => {
                    window.location.href = '/';
                });
                
            } else {
                // Handle login error (e.g., display. Please try again later.';
                errorDiv.textContent = data.message || 'Login failed. Please try again.';
                errorDiv.style.display = 'block';
            }
        }
         catch (error) {
                console.error('Error during login:', error);
                 errorDiv.textContent =  'An error occurred. Please try again.'; // Show error
                errorDiv.style.display = 'block';
        }
    });

    // Check user role on page load
    document.addEventListener('DOMContentLoaded', async function() {
        await checkUserLoginStatus();
    });
</script>