<%- layout('layouts/index') %>
<div class="container my-5 px-5" style="padding-top:85px; margin-bottom:40px;">
    <div class="row justify-content-center pb-5 mt-4">
        <div class="col-md-8 text-center">
            <h2 class="mb-4 fw-bold fs-3 text-danger">THANH TOÁN THẤT BẠI!</h2>
            <p class="lead">Rất tiếc, quá trình thanh toán của bạn đã không thành công. Vui lòng thử lại.</p>
            <p>Bạn sẽ được chuyển hướng về trang chủ sau ít giây...</p>
        </div>
    </div>
</div>

