<%- layout('layouts/index') %>

<main id="view-panel">
    <!-- BOX INFO -->
    <ul class="box-info p-0">
        <li>
            <i class='bx bxs-calendar-check'></i>
            <span class="text">
                <h3>100</h3>
                <p>Đơn hàng mới</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-package'></i>
            <span class="text">
                <h3>100</h3>
                <p>Sản phẩm</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle'></i>
            <span class="text">
                <h3>1000000 ₫</h3>
                <p>Doanh thu</p>
            </span>
        </li>
    </ul>

    <!-- TABLE DATA -->
    <div class="table-data">
        <!-- ORDER TABLE -->
        <div class="order">
            <div class="head">
                <h3>Đơn hàng hôm nay</h3>
                <div>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>

            </table>
        </div>

        <!-- TODO LIST -->
        <div class="todo">
            <div class="head">
                <h3>Danh mục</h3>
                <div>
                    <i class='bx bx-plus'></i>
                    <i class='bx bx-filter'></i>
                </div>
            </div>
            <ul class="todo-list p-0">
                
            </ul>
        </div>
    </div>
</main>

<script>
    // Function to check user role from the backend
    async function checkUserRole() {
        try {
            const response = await fetch('/auth/user'); // Make the request to the api
            if (!response.ok) {
              window.location.href = '/';
                return false;
            }
            const data = await response.json(); // get the data back from api
            if (data.success && data.user && data.user.user.role === 'admin') {
                return true
            }
            window.location.href = '/'; // if not admin, redirect
             return false;
        } catch (error) {
            console.error('Error checking user role:', error);
             window.location.href = '/'; // if error, redirect
             return false;
        }
    }


    // Check user role on page load
    document.addEventListener('DOMContentLoaded', async function() {
        await checkUserRole();
    });
</script>