<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu'></i>
    <a href="#" class="nav-link">Danh mục</a>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn">
                <i class='bx bx-search'></i>
            </button>
        </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>

    <a href="#" class="profile">
        <img src="https://e7.pngegg.com/pngimages/348/800/png-clipart-man-wearing-blue-shirt-illustration-computer-icons-avatar-user-login-avatar-blue-child.png">
    </a>
</nav>
<!-- NAVBAR -->

<script src="/static/ForAdmin/js/adminpagee.js"></script>
