<!-- SIDEBAR -->
<section id="sidebar">
    <a href="/admin" class="brand">
        <img src="http://localhost:3002/api/products/thumbnail/logo2.png" alt="" style="height: 100%; padding: 0 20px; margin-top:25px;">

    </a>
    <ul class="side-menu top">
        <li class="li-home">
            <a href="/admin">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Trang chủ</span>
            </a>
        </li>
        <li class="li-orders">
            <a href="/admin/orders">
                <i class='bx bxs-cart-add'></i>
                <span class="text">Đơn hàng</span>
            </a>
        </li>
        <li class="li-product">
            <a href="/admin/products">
                <i class='bx bxs-package'></i>
                <span class="text">Sản phẩm</span>
            </a>
        </li>
        <li class="li-product">
            <a href="/admin/storage">
                <i class='bx bxs-cylinder'></i>
                <span class="text">Kho hàng</span>
            </a>
        </li>
        <li class="li-collection">
            <a href="/admin/collections">
                <i class='bx bxs-collection'></i>
                <span class="text">Danh mục</span>
            </a>
        </li>
        <li class="li-collection">
            <a href="/admin/account">
                <i class='bx bxs-user-account'></i>
                <span class="text">Tài khoản</span>
            </a>
        </li>

        <li class="li-collection">
            <a href="/admin/discount">
                <i class='bx bxs-discount' ></i>
                <span class="text">Khuyến mại</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="/" target="_blank">
                <i class='bx bx-world'></i>
                <span class="text">Xem trang</span>
            </a>
        </li>
        <li class="li-logout">
            <a href="/admin/logout" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Đăng xuất</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
