@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{ /*reset css */
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat";

    background: #ffffff;
    transition: 0.4s;
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: #fff;
}

.bg-menu{
    background: #212121;
    color: #fff;
}

.logo{
    padding: 10px 0 ;
    transition: 0.3s;
    color: white;
}

.letter-spacing {
    letter-spacing: -1px; /* Hoặc giá trị tùy chỉnh */
}

.sticky {
    padding: 0;
}
.sticky1 {
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

.custom-shadow {
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

.text-justify{
    text-align: justify;
}


.products-section {
    background-color: #f9f9f9;
}

.product {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

.product .image {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 450px; /* Bạn có thể điều chỉnh chiều cao theo ý muốn */
    object-fit: cover;
}

.product .image .img {
    opacity: 1;
    transition: 0.4s;
}

.product .image .img-hover{
    opacity: 0;
    transition: 0.4s;
}

.product .image .img-hover{
    opacity: 0;
    transition: 0.4s;
}

/* .product .image:hover .img-hover {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}

.product .image:hover .img {
    visibility: hidden;
    opacity: 0;
} */

.product .size-color {
    font-size: 14px;
    color: #666;
}

.product .product-name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0 16px;
}

.product .button .btn {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}

.product .button .btn:hover {
    background: #000000;
}

.slider{
    display: flex;
    justify-content: space-between;
}
.slider .owl-nav,.product-other .owl-nav{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-232%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.slider .owl-dots,.product-other .owl-dots{
    display: none;
}
.slider .owl-nav.disabled,.product-other .owl-nav.disabled {

    display: flex;
}
.slider .owl-nav .owl-prev,.product-other .owl-nav .owl-prev {
    width: 50px;
    height: 50px;
    background: #000000 !important;
    border-radius: 50%;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #ddd !important;
}
.slider .owl-nav .owl-next,.product-other .owl-nav .owl-next{
    width: 50px;
    height: 50px;
    background: #000000 !important;
    border-radius: 50%;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #D6D2C4 !important;
}
.slider .owl-nav span,.product-other .owl-nav span{
    transform: translateY(-4px);
    font-size: 25px;
    color: #ffffff;
}


.menu-mobile{
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #000;
    transition: 0.3s;
    overflow-y: auto;
    display: none;
    padding-top: 85px;
    z-index: 2;
}
.menu-mobile ul{
    padding: 20px;
    display: block;
}
.menu-mobile .sub-list{
    padding: 0;
}
.menu-mobile .list a{
    padding: 0;
}
.menu-mobile ul li{
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    word-wrap: normal;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.menu-mobile ul li a{
    color: #212121;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu-mobile .list i{
    text-align: center;
    font-size: 25px;
}
.menu-mobile .list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-mobile ul li ul{
    display: none;
}
.menu-right-mobile .menu1{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(10px);
}
.menu-right-mobile .close{
    opacity: 1;
}
.toggle .menu1{
    opacity: 1;
    transition: 0.3s;
}
.toggle .close{
    opacity: 0;
    transition: 0.3s;
}
@media only screen and (max-width: 1120px){
    .menu-mobile{
        display: block;
        position: fixed;
        right: -100%;
        height: 100vh;
}
}
@media only screen and (max-width: 900px){
    .open{
        right: 0;
        height: 100vh;
}
}

.slider-pc{
    display: block;
}
.slider-mobile{
    display: none !important;
}
@media only screen and (max-width: 600px){
    .slider-pc{
        display: none !important;
    }
    .slider-mobile{
        display: block !important;
    }
}


/* SHOP-FORM */
.shop-form{
    position:absolute;
    width: 400px;
    background: #fff;
    border: 1px solid #ddd;
    right: 2px;
    top: 80px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 4px;
    transition: .3s ease-out;
    opacity: 0;
    padding: 20px;
    transition: 0.2s;
    transform: scale(0);
    color: #000;
}
.shop{
    cursor: pointer;
}
.icon-shop .count{
    display: inline-block;
    vertical-align: top;
    background: #ffe426;
    color: #212121;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 60px;
    top: 20px;
    padding: 0px 3px;
    min-width: 19px;
    height: 19px;
    line-height: 20px;
    border-radius: 50%;
    font-weight: 700;
}
.boxtitle{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

#cart-view .item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
#cart-view .item .img{
    width: 25%;
    padding-right: 10px;
}
#cart-view .item img{
    width: 100%;
    border: 1px solid #ddd;
    vertical-align: middle;

}
#cart-view .item h2{
    font-size: 12.5px;
    font-weight: 500;
    margin-bottom: 24px;
}
#cart-view .item h3{
    font-size: 16px;
    text-align: end;
    font-weight: 600;
}
.cart-view-scroll{
    overflow: auto;
    overscroll-behavior: none;
    max-height: 330px;
    margin-right: -20px;
    padding-right: 20px;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    transform: translateX(-10px);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112); 
  }

  /* CART TOTAL */
.cart-total .total{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.cart-total .total h2{
    font-size: 16px;
    font-weight: 700;
}
.cart-total .total h3{
    font-size: 16px;
    color: #ed141f;
    font-weight: 700;
}
.cart-total .cart-button{
    margin: 5px 0 10px;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    background-color: #000;
    border-color: #000;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.scroll{
    top: 57px;
}
.show{
    transform: scale(1);
    transition: 0.2s;
    opacity: 1;
}

.delete{
    position: absolute;
    right: 0px;
    top: 10px;
    border: none;
    background: no-repeat;
    font-size: 18px;
}
.delete i{
    margin: 0;
}
.qty-value{
    transform: translateY(-10px);
    float: left;
    width: 28px;
    height: 28px;
    background: #f7f7f7;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    margin-right: 8px;
    margin-left: 8px;
    color: #252a2b;
    border: 0;
}


.sub-swap{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.swatch-element{
    width: 20%;
}
.swatch-element>label{
    position: relative;
    display: flex;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #e9ecef;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.swatch-element>label.active{
    background: #000;
    color: #fff;
    border: 1px solid #dfdfdf;
}
.variant-1{
    display: none;
}