<style>
    .footer-menu__title{
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
    }
    .text-decoration-none{
        color: #eeeeee;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
    }
    .footer-menu__desciption{
        color: #eeeeee;
        font-size: 14px;
        letter-spacing: -1px;
    }
    .list-unstyled li{
        margin-bottom: 15px;
    }
</style>


<section class="py-5 bg-black" id="green">
    <div style="margin: 0 10px;">
        <div class="container pt-5" style="max-width: 100%;">
            <div class="row justify-content-evenly">
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="footer-menu__item">
                        <p class="footer-menu__title">COOLCLUB</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/account/register?itm_source=footerm">Đăng kí thành viên</a></li>
                            <li><a class="text-decoration-none" href="/coolclub?itm_source=footer">Ưu đãi &amp; Đặc quyền</a></li>
                        </ul>
                        <p class="footer-menu__title">Tài liệu - Tuyển dụng</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/lp/coolmate-101?itm_source=footer#recruitment-jobs">Tuyển dụng</a></li>
                            <li><a class="text-decoration-none" href="http://online.gov.vn/(X(1)S(sgmttobbtsiaq3l5itoicxhw))/Home/WebDetails/53184?AspxAutoDetectCookieSupport=1" target="_blank">Đăng ký bản quyền</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="footer-menu__item">
                        <p class="footer-menu__title">Chính sách</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/page/dich-vu-60-ngay-doi-tra">Chính sách đổi trả 60 ngày</a></li>
                            <li><a class="text-decoration-none" href="/page/chuong-trinh-va-chinh-sach-khuyen-mai-tai-coolmate">Chính sách khuyến mãi</a></li>
                            <li><a class="text-decoration-none" href="/page/chinh-sach-bao-mat-thong-tin-ca-nhan">Chính sách bảo mật</a></li>
                            <li><a class="text-decoration-none" href="/page/dich-vu-giao-hang-coolmate">Chính sách giao hàng</a></li>
                        </ul>
                        <p class="footer-menu__title">Coolmate.me</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/page/changelog?itm_source=footer">Lịch sử thay đổi website</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="footer-menu__item">
                        <p class="footer-menu__title">Chăm sóc khách hàng</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet">Trải nghiệm mua sắm 100% hài lòng</a></li>
                            <li><a class="text-decoration-none" href="/page/faqs">Hỏi đáp - FAQs</a></li>
                        </ul>
                        <p class="footer-menu__title">Kiến thức mặc đẹp</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/size-chart">Hướng dẫn chọn size</a></li>
                            <li><a class="text-decoration-none" href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="footer-menu__item">
                        <p class="footer-menu__title">Về COOLMATE</p>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="/page/quy-tac-ung-xu-cua-coolmate?itm_source=footer">Quy tắc ứng xử của Coolmate</a></li>
                            <li><a class="text-decoration-none" href="/lp/coolmate-101?itm_source=footer">Coolmate 101</a></li>
                            <li><a class="text-decoration-none" href="/page/11-dich-vu-tai-coolmate-co-the-ban-chua-biet?itm_source=footer">DVKH xuất sắc</a></li>
                            <li><a class="text-decoration-none" href="/page/coolmate-story?itm_source=footer">Câu chuyện về Coolmate</a></li>
                            <li><a class="text-decoration-none" href="/page/san-pham-coolmate-duoc-san-xuat-nhu-the-nao?itm_source=footer">Nhà máy</a></li>
                            <li><a class="text-decoration-none" href="/collection/care-and-share?itm_source=footer">Care &amp; Share</a></li>
                            <li><a class="text-decoration-none" href="/page/cam-ket-phat-trien-ben-vung?itm_source=footer">Cam kết bền vững</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="footer-menu__item">
                        <p class="footer-menu__title">Địa chỉ liên hệ</p>
                        <p class="footer-menu__desciption">
                            <u>Văn phòng Hà Nội:</u> Tầng 3 Tòa nhà BMM, KM2, Đường Phùng Hưng, Phường Phúc La, Quận Hà Đông, TP Hà Nội
                        </p>
                        <p class="footer-menu__desciption">
                            <u>Trung tâm vận hành Hà Nội:</u> Lô C8, KCN Lại Yên, Xã Lại Yên, Huyện Hoài Đức, Thành phố Hà Nội
                        </p>
                        <p class="footer-menu__desciption">
                            <u>Văn phòng và Trung tâm vận hành TP. HCM:</u> Lô C3, đường D2, KCN Cát Lái, Thạnh Mỹ Lợi, TP. Thủ Đức, TP. Hồ Chí Minh.
                        </p>
                        <p class="footer-menu__desciption">
                            <u>Trung tâm R&amp;D:</u> T6-01, The Manhattan Vinhomes Grand Park, Long Bình, TP. Thủ Đức
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
